	 <a routerLink="members"  routerLinkActive="active">首页</a>
  <a routerLink="user"  routerLinkActive="active">我的</a>
  <a [routerLink]="['form','2']"  routerLinkActive="active">表单</a>
  <a routerLink="http"  routerLinkActive="active">HTTP</a>
  <a routerLink="Your-content">你的内容</a>
  <a routerLink="testone">我的内容</a>
  
  
  <div ></div>
  <!--change-->
  <div >这是哪里来的啊{{value}}</div>
   <router-outlet ></router-outlet>
   <!--<app-user (update)="parent($event)" [message]="message"></app-user>-->
	<!--<app-form (change)="ff($event)"></app-form>-->
   <app-content>
   	
   	 <div  class="color-box"style="border: 1px solid #666; margin: 4px;">
         <div  class="header"  style="border: 1px solid red; margin: 5px;">Card Header</div>
         <div  class="body"    style="border: 1px solid green; margin: 5px;">Card Body</div>
         <div  class="footer"  style="border: 1px solid blue; margin: 5px;">Card Footer</div>
      </div>
   	
   </app-content>

